{% extends "templateAdd.twig" %}
{% block head %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styleExtra.css">
    <title>Dashboard</title>

{% endblock %}

{% block content %}

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Dashboard</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="centrer">
    <a class="waves-effect waves-light btn" href="/add/jobs"><i class="large material-icons left">library_books</i>Add Job</a>
    <a class="waves-effect waves-light btn" href="/add/projects"><i class="large material-icons left">folder_shared</i>Add Project</a>
    <a class="waves-effect waves-light btn" href="/add/users"><i class="large material-icons left">account_box</i>Add Users</a>
    
</div>

{% endblock %}