{% extends "templateAdd.twig"%}

{% block head %}
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Add Job</title>

{% endblock %}

{% block content %}

<nav>
    <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Add Job</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/add/projects">Add Project</a></li>
        <li><a href="/add">Add Briefcase</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Briefcase</a></li>
    </ul>
    </div>
</nav>
<div class="alert alert-primary" role="alert">
{{ responseMessage }}
</div>
    <div class="container">
    <form action="/add/jobs" method="post">
        <label for="">Title:</label>
        <input type="text" name="title"><br/>

        <label for="">Description</label>
        <input type="text" name="description"><br/>

        <label for="">Months:</label>
        <input type="number" name="months" id=""><br/>

        <center>
            <button class="btn waves-effect waves-light" type="submit" name="action">
            Submit
            <i class="material-icons right">send</i>
            </button>    
        </center>
    </form>
    </div>
    
{% endblock %}
