{% extends "templateAdd.twig" %}
{% block head %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Create User</title>

{% endblock %}

{% block content %}

  <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">New User</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/add/jobs">Add Job</a></li>
            <li><a href="/add/projects">Add Projects</a></li>
            <li><a href="/add">Add Briefcase</a></li>
          </ul>
        </div>
  </nav>
  <center>
  <div class="alert alert-primary" role="alert">
    {{ responseMessage }}
  </div>
  </center>
  
  <div class="container">
    <form action="/add/users" method="post">
    
        <label for="">Username</label>
        <input type="text" name="username"/><br/>
    
        <label for="">Email</label>
        <input type="email" name="email" /><br/>
    
        <label for="">Password</label>
        <input type="password" name="password"/><br/>

    <center>
        <button class="btn waves-effect waves-light" type="submit" name="action">
        Submit
        <i class="material-icons right">send</i>
        </button>
    </center>
    </form>
    
  </div>


{% endblock %}



    

