{% extends "templateAdd.twig" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Create User</title>
{% endblock %}
<body>
    <h1>New User</h1>
    <form action="/add/users" method="post">
    
    <label for="">Username</label>
    <input type="text" name="username"/><br/>

    <label for="">Email</label>
    <input type="email" name="email" /><br/>

    <label for="">Password</label>
    <input type="password" name="password"/><br/>
    
    <button type="submit" name="action">Send</button>

    </form>
</body>
</html>